<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ec_viet_go/css/password.css">
    <title>Foget Password</title>
</head>
<body>
    <div class="password">
        <div class="title">
            <h2>Foget Password</h2>
        </div>
        <div class="font-password">
            <input type="text" class="filed" placeholder="Username">            
        </div>
        <div>
                <button style="width:85% ;height: 40px;border: 0px;border-radius: 30px;"> Submit</button>
        </div>
        <br>
        <a style=" color:#6FB555; text-decoration: none;" href="/ec_viet_go/views/login/Login.html">Sign in</a>
    </div>
</body>
</html>