<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ec_viet_go/css/dev_gome_page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>dev_gome_page</title>
</head>

<body>
    <div class="container">
        <div class="form_1">
            <div class="form_sign_in">
                <div class="title">Đăng nhập thành công.</div>
                <div class="icon_x">
                    <a href="">
                        <i class="bi bi-x" style="font-size: 3.0rem;color: #2D6D5F;"></i>
                    </a>
                </div>
            </div>
            <div class="form_viet_go">
                <div class="vietgo">
                    <div class="form_chu">Viet Go</div>
                </div>
                <div class="boxz">
                    <div class="form_input">
                        <div class="input-container">
                            <i class=" bi bi-search icon" style="font-size: 1 rem;color: gray;"></i>
                            <input type="text" placeholder="Tìm kiếm...">
                        </div>
                        <div class="form_notification"></div>
                        <div class="notification">Thông báo</div>
                        <div class="form_MUNGNVC"></div>
                        <div class="MUNGNVC">MUNGNVC</div>
                        <div class="icon_chevron_down">
                            <i class="bi bi-chevron-down"></i>
                        </div>
                    </div>
                    <div class="form_home">
                        <div class="home"><a style="color: blue;line-height: 35px;font-size: 20px; "
                                href="">Home</a></div>
                        <div class="icon_chevron_right">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        <div class="dau_gia">Đấu giá</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form_2">
            <div class="form_dat_xe">
                <div class="green_circle_1"></div>
                <a href="dat_xe">Đặt xe</a>
            </div>
            <div class="form_dau_gia">
                <div class="green_circle_2"></div>
                <a href="">Đấu giá</a>
            </div>
            <div class="form_notification_2">
                <div class="blue_circle_3"></div>
                <a href="">Thông báo</a>
            </div>
            <div class="form_don_hang">
                <div class="blue_circle_4"></div>
                <a href="">Đơn hàng</a>
            </div>
            <div class="form_setting">
                <div class="icon_gear">
                    <i class="bi bi-gear" style="font-size: 1.8rem; color: white;"></i>
                </div>
                <a href="">Cài đặt</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>