.password{
    width: 25%;
    height: 285px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title{
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #6FB555;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    }
.title h2{
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.form_login {
    margin-top: 30px;
}
.filed {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    margin-top: 25px;
}
input {
    padding-left: 20px;
    background-color: rgb(244, 239, 239);
    color: black;
}
button {
    background-color: #6FB555;
    color: white;
    margin-top: 25px;
}
button:hover {
    font-size: 20px;
}


